*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

header {
    background-color: #000000;
    height: 4.5rem;
}
header img{
    height: 100%;
    padding: 0.5rem;
}

footer {
    background-color:  #000000;
    height: 4.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer img{
    height: 100%;
    padding: 0.3rem;
}

body#main{
    background-image: url("../img/fundo.webp");
    background-size: cover;
    
}

main{
    height: 84vh;
}

body.page2 {
    background-image: url("../img/gaviao.jpg");
    background-size: cover;
    background-image: url("../img/c96367b90b43bcb8c726f472423e1c3091f43bc0.jpeg");
    background-size: var(50%);
}